.login-page{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 14%;
    width: 400px;
    margin:auto;
}

.login-form{
    max-width: 300px;
    background:white;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form #email-input{
    margin-top:5px;
}
#login-checkbox{
    float: left;
    width:30px;
    margin-top: 4px;
}

#showPassword{
    position:relative;
    float:left;
    display: block;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
}

.login-form input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 100%;
    width:275px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f2f2f2;
    border: 0;
}

.login-form button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    width:305px;
    height: 50px;
    cursor: pointer;
    background-color: #0033FF;
    border: 0;
    margin-top:10px;

}

.login-form .message a{
    color:#0000FF;
    text-decoration: none;
    font-size:12px;
}

.login-form .message {
    margin-left: 12.5%;
    color: #0033FF;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-form button:hover{
    background-color: #0000FF;
}

body{
    background-image: url(../img/food.png);
    margin:0;
}

h1{
    color: #0033FF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:25%;
    margin-top:0;
}



