@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img{
    max-width:  100%;
    height: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
}

/* typography
=================*/


.title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: 0.5em;
}



/*button 
================*/
.button {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5rem .75rem;
}


.button-accent {
    color:#00ff6c;
    border-color: #00ff6c;
}

.button-accent:hover, .button-accent.focus{
    background: #00ff6c;
    color: #232323;
}

/* header
=================*/

header{
    position: absolute; 
    left: 0;
    right: 0;
    margin-top: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: aqua;
}

nav a:hover, nav a:focus{
    color: red;
}

/* home-hero
=================*/

.home-hero{
    background-image: url(../img/hero-bg.jpg);
    padding: 10em 0;
    color: #FFF;
}
