<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CuH | Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/recipes.css">
</head>
<body>
<header>
    <div class="container" id="cont">
        <div id="branding">
            <h1><a href="http://localhost:8125/" method="post"><img src="../img/chef.png" alt="Chef"></a></h1>
        </div>
        <div class="search-bar-wrapper">
            <input class="search-box-input" type="text" placeholder="Search...">
            <button class="search-box-button"><img src="../img/search.png" alt=""></button>
        </div>
        <nav class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><a href="recipes.html">Recipes</a></button>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="http://localhost:8125/MyAccount" method="post">My Account</a></button>
                <div class="dropdown-content">
                    <a href="http://localhost:8125/myRecipes" method="post">My Recipes</a>
                    <a href="http://localhost:8125/Login" method="post">Login</a>
                    <a href="http://localhost:8125/Register" method="post">Register</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="bigcontainer" id="main">
</div>
<footer>
    <p>Copyright &copy; 2018 Cuisine Web Helper</p>
    <a href="mailto:contacts@cuh.com"><p>Contact us</p></a>

</footer>
<script type="text/javascript" src="./javascriptFiles/recipes.js"></script>
<script type="text/javascript" src="./javascriptFiles/changeHeader.js"></script>
<script type="text/javascript" src="./javascriptFiles/recipe.js"></script>

</body>
</html>
