<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CuH | Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/recipes.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
            <h1><a href="../index.html"><img src="../img/chef.png" alt="Chef"></a></h1>
        </div>
        <div class="search-bar-wrapper">
          <input class="search-box-input" type="text" placeholder="Search...">
          <button class="search-box-button"><img src="../img/search.png" alt=""></button>
        </div>
        <nav class="navbar">
          <div class="dropdown">
            <button class="dropbtn"><a href="recipes.html">Recipes</a></button>
          </div>
          <div class="dropdown">
            <button class="dropbtn"><a href="./MyAccount.html">My Account</a></button>
            <div class="dropdown-content">
              <a href="./myRecipes.html">My Recipes</a>
              <a href="./Login.html">Login</a>
              <a href="./Register.html">Register</a>
            </div>
          </div>
        </nav>
     </div>
    </header>
    <div class="bigcontainer">
      <h4>Vegetariene</h4>
        <div class="responsive">
            <div class="gallery">
              <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
                <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div></div>
          </div>
          <div class="responsive">
            <div class="gallery">
                <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
        </div>
          <div class="responsive">
            <div class="gallery">
                <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          <h4>Salate</h4>
          <div class="responsive">
            <div class="gallery">
             <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
               <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
                <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          <h4>Ciorbe</h4>
          <div class="responsive">
            <div class="gallery">
                <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
             <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
               <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
               <div class="container1">
                  <img class="image" src="../img/img1.jpg" alt="Forest" width="600" height="400">
                  <div class="middle">
                   <a href="./recipe.html"> <div class="text">Go to recipe</div></a>
                </div>
              </div>
            </div>
          </div>
          
  </div>
   <footer >
<p>Copyright &copy; 2018 Cuisine Web Helper</p>
<a href="mailto:contacts@cuh.com"><p>Contact us</p></a>

</footer>
  </body>
</html>
