<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CuH | Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header>
    <div class="container" id="cont">
        <div id="branding">
            <h1><a href="http://localhost:8125/" method="post"><img src="./img/chef.png" alt=""></a></h1>
        </div>
        <div class="search-bar-wrapper">
            <input class="search-box-input" id="search" type="text" placeholder="Search...">
            <button class="search-box-button"><img src="./img/search.png" alt="" onclick="search()"></button>
        </div>
        <nav class="navbar">
            <div class="dropdown">
                <form action="http://localhost:8125/recipes" method="post">
                    <button class="dropbtn">Recipes</button>
                </form>
            </div>
            <div class="dropdown">
                <form action="http://localhost:8125/myAccount" method="post">
                    <button class="dropbtn">My Account</button>
                </form>
                <div class="dropdown-content">
                    <a href="http://localhost:8125/myRecipes" method="post">My Recipes</a>
                    <a href="http://localhost:8125/Login" method="post">Login</a>
                    <a href="http://localhost:8125/Register" method="post">Register</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="bigcontainer">
    <div class="smallcontainer">
        <div class="containerfilter">
            <p class="pfilter">Regim alimentar</p>
            <div class="scroll">
                <form>
                    <input type="checkbox" id="ingredient1" value="Diabet" class="ing">
                    <label name="ing1" for="ingredient1">Diabet</label>
                    <input type="checkbox" id="ingredient2" value="Ulcer" class="ing">
                    <label name="ing1" for="ingredient2">Ulcer</label>
                    <input type="checkbox" id="ingredient3" value="Giovanetti" class="ing">
                    <label name="ing1" for="ingredient3">Giovanetti</label>
                    <input type="checkbox" id="ingredient4" value="Kempner" class="ing">
                    <label name="ing1" for="ingredient4">Kempner</label>
                    <input type="checkbox" id="ingredient5" value="Hidric" class="ing">
                    <label name="ing1" for="ingredient5">Hidric</label>
                    <input type="checkbox" id="ingredient6" value="Hidrozaharat" class="ing">
                    <label name="ing1" for="ingredient6">Hidrozaharat</label>
                    <input type="checkbox" id="ingredient7" value="Hipoproteic" class=ing">
                    <label name="ing1" for="ingredient7">Hipoproteic</label>
                    <input type="checkbox" id="ingredient8" value="Hiposodat" class="ing">
                    <label name="ing1" for="ingredient8">Hiposodat</label>
                    <input type="checkbox" id="ingredient9" value="Other" class="ing" checked>
                    <label name="ing1" for="ingredient9">Other</label>
                </form>
            </div>
        </div>

        <div class="containerfilter">
            <p class="pfilter">Stil de viata </p>
            <form>
                <input type="checkbox" id="aragaz" value="Vegan"  class="sdv">
                <label for="aragaz">Vegan</label>
                <input type="checkbox" id="plita" value="Vegetarian" class="sdv">
                <label for="plita">Vegetarian</label>
            </form>
        </div>
        <div class="containerfilter">
            <p class="pfilter">Practica spirituala</p>
            <form>
                <input type="checkbox" id="chestie1" value="Post">
                <label for="chestie1">Post</label>
            </form>
        </div>


        <div class="containerfilter">
            <p class="pfilter">Gastronomie</p>
            <form>
                <input type="checkbox" id="gastronomie1" class="gastro" value="Frantuzeasca">
                <label for="gastronomie1">Frantuzeasca</label>
                <input type="checkbox" id="gastronomie2" class="gastro" value="Romaneasca">
                <label for="gastronomie2">Romaneasca</label>
                <input type="checkbox" id="gastronomie3" class="gastro" value="Italiana">
                <label for="gastronomie3">Italiana</label>
                <input type="checkbox" id="gastronomie4" class="gastro" value="Chinezeasca">
                <label for="gastronomie4">Chinezeasca</label>
                <input type="checkbox" id="gastronomie5" class="gastro" value="Indiana">
                <label for="gastronomie5">Indiana</label>
            </form>
        </div>


        <div class="containerfilter">
            <p class="pfilter">Dificultate</p>
            <form>
                <input type="checkbox" id="dificultate1" class="diffi" value="Usoara">
                <label for="dificultate1">Usoara</label>
                <input type="checkbox" id="dificultate2" class="diffi" value="Medie">
                <label for="dificultate2">Medie</label>
                <input type="checkbox" id="dificultate3" class="diffi" value="Grea">
                <label for="dificultate3">Grea</label>
            </form>
        </div>
        <div class="containerfilter">
            <p class="pfilter">Dotari bucatarie</p>
            <form>
                <input type="checkbox" id="dotare1" class="dotari" value="Aragaz">
                <label for="dotare1">Aragaz</label>
                <input type="checkbox" id="dotare2" class="dotari" value="Cuptor">
                <label for="dotare2">Cuptor</label>
                <input type="checkbox" id="dotare3" class="dotari" value="Cuptor cu microunde">
                <label for="dotare3">Cuptor cu microunde</label>
                <input type="checkbox" id="dotare4" class="dotari" value="Robot de bucatarie">
                <label for="dotare4">Robot de bucatarie</label>
                <input type="checkbox" id="dotare5" class="dotari" value="Other">
                <label for="dotare5">Other</label>
            </form>
        </div>
        <div class="containerfilter">
            <label class="pfilter">Durata prepararii (minute) </label><br>
            <input type="number" id="timp">
        </div>

        <a href="" class="button button-accent" onclick="filter()">Find Recipes</a>
    </div>
    <section class="showcase">
        <h2>New recipes</h2>
        <div class="grid" id="nr">

            <!--<div>-->
                <!--<figure class="box-img"><img src="./img/img1.jpg" alt=""></figure>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>&emsp;Skillet Chicken with Brussels Sprouts and Apples, consectetur adipiscing elit. Suspendisse-->
                    <!--pharetra rhoncus hendrerit. Maecenas at arcu a velit vestibulum sagittis. Vivamus lacus libero,-->
                    <!--ornare id sollicitudin quis, interdum at velit. Mauris gravida, velit eu vestibulum tempor, nibh-->
                    <!--sapien facilisis massa, at consectetur augue est et augue.</p>-->
                <!--<a href="http://localhost:8125/recipe" class="btn">View recipe</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<figure class="box-img"><img src="./img/img2.jpg" alt=""></figure>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>&emsp;Chicken and Arugula Cacio e Pepe, consectetur adipiscing elit. Suspendisse pharetra rhoncus-->
                    <!--hendrerit. Maecenas at arcu a velit vestibulum sagittis. Vivamus lacus libero, ornare id-->
                    <!--sollicitudin quis, interdum at velit. Mauris gravida, velit eu vestibulum tempor, nibh sapien-->
                    <!--facilisis massa, at consectetur augue est et augue.</p>-->
                <!--<a href="http://localhost:8125/recipe" class="btn">View recipe</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<figure class="box-img"><img src="./img/img3.jpg" alt=""></figure>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>&emsp;Coriander-Maple Glazed Carrots, consectetur adipiscing elit. Suspendisse pharetra rhoncus-->
                    <!--hendrerit. Maecenas at arcu a velit vestibulum sagittis. Vivamus lacus libero, ornare id-->
                    <!--sollicitudin quis, interdum at velit. Mauris gravida, velit eu vestibulum tempor, nibh sapien-->
                    <!--facilisis massa, at consectetur augue est et augue.</p>-->
                <!--<a href="http://localhost:8125/recipe" class="btn">View recipe</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<figure class="box-img"><img src="./img/img4.jpg" alt=""></figure>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>&emsp;Hot Cross Buns, consectetur adipiscing elit. Suspendisse pharetra rhoncus hendrerit. Maecenas-->
                    <!--at arcu a velit vestibulum sagittis. Vivamus lacus libero, ornare id sollicitudin quis, interdum at-->
                    <!--velit. Mauris gravida, velit eu vestibulum tempor, nibh sapien facilisis massa, at consectetur augue-->
                    <!--est et augue.</p>-->
                <!--<a href="http://localhost:8125/recipe" class="btn">View recipe</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<figure class="box-img"><img src="./img/img4.jpg" alt=""></figure>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>&emsp;Hot Cross Buns, consectetur adipiscing elit. Suspendisse pharetra rhoncus hendrerit. Maecenas-->
                    <!--at arcu a velit vestibulum sagittis. Vivamus lacus libero, ornare id sollicitudin quis, interdum at-->
                    <!--velit. Mauris gravida, velit eu vestibulum tempor, nibh sapien facilisis massa, at consectetur augue-->
                    <!--est et augue.</p>-->
                <!--<a href="http://localhost:8125/recipe">View recipe</a>-->
            <!--</div>-->
        <!--</div>-->
    </section>

</div>
<footer>
    <p>Copyright &copy; 2018 Cuisine Web Helper</p>
    <a href="mailto:contacts@cuh.com"><p>Contact us</p></a>

</footer>
<script type="text/javascript" src="./javascriptFiles/index.js"></script>
</body>
</html>